[bumpversion]
current_version = 0.41.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:taskjournal/cli/__init__.py]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = [![Version](https://img.shields.io/badge/version-{current_version}-blue.svg)](#task-journal)
replace = [![Version](https://img.shields.io/badge/version-{new_version}-blue.svg)](#task-journal)
