# ~/.config/taskjournal/.env
# This is a sample .env file for taskjournal

# Taskjournal configuration
BASE_DIR="/Users/eballo/work/DailyNotes/"
BASE_PROJECT="/Users/eballo/work/eballo/taskjournal/taskjournal/"

# JIRA configuration
JIRA_ORGANIZATION="my-organization"
JIRA_API_TOKEN="jira-key"
JIRA_EMAIL="jira-email"
JIRA_BOARD_ID="jira-board-id"

# GitHub configuration
GIT_HUB_TOKEN="gh-key"
